{% extends 'base.html' %}

{% block content %}
{% include 'books/partials/header.html' %}
<section class="page-section">
  <div class="container">
    <div class="row">
      <div class="col-6 mx-auto">
        <form method="post">
          {% for err in errors %}
            <div class="alert alert-danger">err</div>
          {% endfor %}
          {% csrf_token %}
          <div class="form-group">
            <label for="username" class="text-uppercase text-primary text-center fw-bold">Username or Email</label>
            <input type="text" name="username" id="username" required
              class="form-control input input-lg p-3 text-center text-success" placeholder="نام کاربری یا ایمیل">
            {% if username_erros %}
              {% for error in username_erros %}
                <div class="alert alert-danger">{{ error }}</div>
              {% endfor %}
            {% endif %}
          </div>
          <div class="form-group">
            <label for="password" class="text-uppercase text-primary text-center fw-bold">Password</label>
            <input type="password" name="password" id="password"
              class="form-control input input-lg p-3 text-center text-success" placeholder="رمز عبور" required>
            {% if password_erros %}
              {% for error in password_erros %}
                <div class="alert alert-danger">{{ error }}</div>
              {% endfor %}
            {% endif %}
          </div>
          <button type="submit" class="btn btn-lg btn-success rounded btn-outline p-3 mt-3 ml-auto">Login <i
              class="fas fa-lock m-2"></i></button>
        </form>
      </div>
    </div>
  </div>
</section>
{% endblock content %}