<div class="col-12 my-4">
  <div class="col-10 mx-auto">
    <form hx-trigger="submit" hx-get="{% url 'books:search' %}" hx-target="#list" class="form row">
      <div class="form-group mb-md-0 col-10">
        <!-- Phone number input-->
        <input class="form-control shadow" id="query" type="text" name="q"
          placeholder="برای جستجو نام کاربری یا ایمیل یا نام و نام خوانوادگی شخص مورد نظر را وارد کنید"
          data-sb-validations="required" style="height: 3.5rem;" />
        <div class="invalid-feedback" data-sb-feedback="query:required">این فیلد الزامی میباشد.
        </div>
      </div>
      <div class="form-group col-2">
        <button type="submit" class="btn btn-primary form-control shadow" style="height: 3.5rem;">جستجو</button>
      </div>
    </form>
  </div>
</div>