{% extends 'base.html' %}


{% block content %}
<section class="page-section mt-4">
  <div class="container">
    <div class="row">
      <div class="col-12">
      </div>
      <div class="col-12">
        <div class="card card-primary shadow">
          <div class="card-header">
            <h3 class="card-title text-black text-center">لیست پوهنځی  ها</h3>
          </div>
          <div class="card-body">
            <table class="table table-head-fixed ">
              <thead>
                <tr>
                  <th class="text-primary">نام پوهنځی</th>
                  <th class="text-primary">تعداد کتاب</th>
                  <th class="text-primary">تعداد محصل</th>
                </tr>
              </thead>
              <tbody>
                {% for f in facolties %}
                  <tr>
                    <td class="fw-bold"><a href="{% url 'books:facolty_book_list' pk=f.pk %}">{{ f.name | truncatechars:20 }}</a></td>
                    <td class="fw-bold">{{ f.books.count }}</td>
                    <td class="fw-bold">{{ f.student_count }}</td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
</section>
{% endblock content %}