{% extends 'base.html' %}
{% load cache %}

{% block content %}
{% cache 500 header request.user.firstname %}
<header class="masthead">
    <div class="container">

        <div class="masthead-heading text-uppercase">کتاب خانه آنلاین پوهنتون غزنی</div>
    </div>
</header>
{% endcache %}

{% include 'books/partials/search.html' %}

<section class="page-section bg-light" id="portfolio">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading">کتاب های</h2>
            <h3 class="section-subheading text-muted"><b>{{ request.user.facolty }}</b> پوهنځی</h3>
        </div>
        <div class="row">
            {% for book in books %}
            <div class="col-lg-4 col-sm-6 mb-4">
                <!-- Portfolio item 1-->
                <div class="portfolio-item shadow">
                    <a class="portfolio-link" href="{% url 'books:book_detail' pk=book.pk %}">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" src="{{ book.cover.url }}" style="height: 20rem; width: fit-content;"
                            aria-checked="false" />
                    </a>
                    <div class="portfolio-caption">
                        <div class="portfolio-caption-heading">{{ book.name | truncatechars:20 }}</div>
                        <div class="portfolio-caption-subheading text-muted">{{ book.uploaded_by }}</div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% cache 500 about %}
<section class="page-section bg-light" id="team">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">ساخته شده توسط</h2>
            <h3 class="section-subheading text-muted"><a href="https://omid3699.github.io">امید آزادی</a></h3>
        </div>
        <!-- <div class="row">
            <div class="col-lg-3">
                <div class="team-member">
                    <img class="mx-auto rounded-circle" src="assets/img/team/1.jpg" alt="..." />
                    <h4 class="text-primary">احمد نور مهمند</h4>
                    <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Parveen Anand Twitter Profile"><i
                            class="fab fa-telegram"></i></a>
                    <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Parveen Anand Facebook Profile"><i
                            class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Parveen Anand instagramofile"><i
                            class="fab fa-instagram"></i></a>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="team-member">
                    <img class="mx-auto rounded-circle" src="assets/img/team/2.jpg" alt="..." />
                    <h4 class="text-primary">حبیب الله محمدی</h4>
                    <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Diana Petersen Twitter Profile"><i
                            class="fab fa-telegram"></i></a>
                    <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Diana Petersen Facebook Profile"><i
                            class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Diana Petersen instagramofile"><i
                            class="fab fa-instagram"></i></a>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="team-member">
                    <img class="mx-auto rounded-circle" src="assets/img/team/3.jpg" alt="..." />
                    <h4 class="text-primary">عبدالباسط عمر</h4>
                    <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Larry Parker Twitter Profile"><i
                            class="fab fa-telegram"></i></a>
                    <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Larry Parker Facebook Profile"><i
                            class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Larry Parker instagramofile"><i
                            class="fab fa-instagram"></i></a>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="team-member">
                    <img class="mx-auto rounded-circle" src="assets/img/team/3.jpg" alt="..." />
                    <h4 class="text-primary">علی ظفر رسا</h4>
                    <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Larry Parker Twitter Profile"><i
                            class="fab fa-telegram"></i></a>
                    <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Larry Parker Facebook Profile"><i
                            class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Larry Parker instagramofile"><i
                            class="fab fa-instagram"></i></a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 mx-auto text-center">
                <p class="large text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut eaque,
                    laboriosam veritatis, quos non quis ad perspiciatis, totam corporis ea, alias ut unde.</p>
            </div>
        </div> -->
    </div>
</section>
{% endcache %}
{% endblock content %}